---
import BaseLayout from "../layouts/BaseLayout.astro"

const title = "Equipe"
const description = "A Equipe que faz o Barzim."
const permalink = `${Astro.site.href}equipe`
---

<BaseLayout
	title={title}
	description={description}
	permalink={permalink}
	current='equipe'
>
	<div class='container'>
		<h1>Conheça a Equipe Barzim</h1>
		<p>
			<em>Barzeiros</em>, apresentamos a equipe que está tornando o Barzim uma
			realidade. Conheça <strong>Ana</strong>, a Gerente de Produto e líder de
			comunicação; <strong>André</strong>, o Tech Lead dedicado à experiência do
			usuário; <strong>Elian</strong>, nosso DBA; <strong>Evandro</strong>, o
			estrategista tecnológico; e <strong>Lara</strong>, a desenvolvedora e
			mentora lógica. Juntos, somos a força motriz do Barzim.
		</p>

		<div class='team-member'>
			<a href='https://github.com/ANACNETO' target='_blank'>
				<img
					src='https://avatars.githubusercontent.com/u/142353865?v=4'
					alt='Foto da Ana'
				/>
			</a>
			<h3><a href='https://github.com/ANACNETO' target='_blank'>Ana</a></h3>
			<p>
				Nossa Gerente de Produto, é a mentora por trás de cada aspecto do
				projeto. Desde a definição do branding e comunicação até a tomada de
				decisões técnicas, sua dedicação impulsiona cada etapa. Cada escolha é
				cuidadosamente guiada por sua visão e expertise, assegurando uma
				integração perfeita entre a estratégia de produto e a excelência
				técnica.
			</p>
		</div>

		<div class='team-member'>
			<a href='https://github.com/ahzorek' target='_blank'>
				<img
					src='https://avatars.githubusercontent.com/u/26157501?v=4'
					alt='Foto do André'
				/>
			</a>
			<h3><a href='https://github.com/ahzorek' target='_blank'>André</a></h3>
			<p>
				Nosso Tech Lead, é o mestre por trás de cada detalhe da implementação da
				plataforma. Da seleção das tecnologias à definição da arquitetura
				passando por diretrizes de UX/UI, cada interação é moldada por sua
				dedicação à usabilidade, design, performance e <em>dev experience</em>.
			</p>
		</div>

		<div class='team-member'>
			<a href='https://github.com/elianoliver' target='_blank'>
				<img
					src='https://avatars.githubusercontent.com/u/75051401?v=4'
					alt='Foto do Elian'
				/>
			</a>
			<h3>
				<a href='https://github.com/elianoliver' target='_blank'>Elian</a>
			</h3>
			<p>
				Atua como DBA do Barzim. Sua missão é garantir que os dados da empresa
				sejam tão refinados quanto uma cerveja artesanal. Juntamente com a
				equipe, Elian brinda ao sucesso, onde a integridade dos dados é a
				receita perfeita para o crescimento do Barzim.
			</p>
		</div>

		<div class='team-member'>
			<a href='https://github.com/evandroreichert' target='_blank'>
				<img
					src='https://avatars.githubusercontent.com/u/59090443?v=4'
					alt='Foto do Evandro'
				/>
			</a>
			<h3>
				<a href='https://github.com/evandroreichert' target='_blank'>Evandro</a>
			</h3>
			<p>
				Evandro é o cérebro por trás das escolhas tecnológicas do Barzim. Sua
				visão estratégica ajuda a orientar nossas decisões e inovações.
			</p>
		</div>

		<div class='team-member'>
			<a href='https://github.com/laraberns' target='_blank'>
				<img
					src='https://avatars.githubusercontent.com/u/133805423?v=4'
					alt='Foto da Lara'
				/>
			</a>
			<h3><a href='https://github.com/laraberns' target='_blank'>Lara</a></h3>
			<p>
				Desenvolvedora e mentora, Lara não apenas codifica, mas também molda a
				lógica por trás de cada linha. Sua habilidade e orientação tornam o
				desenvolvimento do Barzim uma verdadeira obra-prima.
			</p>
		</div>
		<p>
			Juntos, formamos uma equipe equilibrada, contribuindo com nossas habilidades
			únicas para levar o Barzim ao sucesso.
		</p>
	</div>
</BaseLayout>

<style>
	.team-member {
		text-align: left;
		margin-bottom: 20px;
		background-color: rgb(30 30 30 /0.4);
		padding: 3rem 2rem;
		border-radius: 1rem;
	}
	.team-member a {
		text-decoration: none;
		color: #fec435;
	}
	.team-member a:hover {
		text-decoration: underline;
	}
	.team-member img {
		display: block;
		margin: 0 auto 10px;
		width: 80px;
		height: 80px;
		border-radius: 50%;
		object-fit: cover;
	}
</style>
