---
import BaseLayout from '../layouts/BaseLayout.astro';

const title = 'Equipe';
const description = 'A Equipe que faz o Barzim.';
const permalink = `${Astro.site.href}equipe`;
---

<BaseLayout title={title} description={description} permalink={permalink} current="equipe">
  <div class="container">
    <h1>Conheça a Equipe Barzim</h1>
<p><em>Barzeiros</em>, apresentamos a equipe que está tornando o Barzim uma realidade. Conheça <strong>Ana</strong>, a Gerente de Produto e líder de comunicação; <strong>André</strong>, o Tech Lead dedicado à experiência do usuário; <strong>Elian</strong>, nosso DBA; <strong>Evandro</strong>, o estrategista tecnológico; e <strong>Lara</strong>, a desenvolvedora e mentora lógica. Juntos, somos a força motriz do Barzim.</p>

<h3><a href="https://github.com/ANACNETO">Ana</a></h3>
<p>Nossa Gerente de Produto, é a mentora por trás de cada aspecto do projeto. Desde a definição do branding e comunicação até a tomada de decisões técnicas, sua dedicação impulsiona cada etapa. Cada escolha é cuidadosamente guiada por sua visão e expertise, assegurando uma integração perfeita entre a estratégia de produto e a excelência técnica.</p>

<h3><a href="https://github.com/ahzorek">André</a></h3>
<p>Nosso Tech Lead, é o mestre por trás de cada detalhe da implementação da plataforma. Da seleção das tecnologias à definição da arquitetura passando por diretrizes de UX/UI, cada interação é moldada por sua dedicação à usabilidade, design, performance e <em>dev experience</em>.</p>

<h3><a href="https://github.com/elianoliver">Elian</a></h3>
<p>Atua como DBA do Barzim. Sua missão é garantir que os dados da empresa sejam tão refinados quanto uma cerveja artesanal. Juntamente com a equipe, Elian brinda ao sucesso, onde a integridade dos dados é a receita perfeita para o crescimento do Barzim.</p>

<h3><a href="https://github.com/evandroreichert">Evandro</a></h3>
<p>Evandro é o cérebro por trás das escolhas tecnológicas do Barzim. Sua visão estratégica ajuda a orientar nossas decisões e inovações.</p>

<h3><a href="https://github.com/laraberns">Lara</a></h3>
<p>Desenvolvedora e mentora, Lara não apenas codifica, mas também molda a lógica por trás de cada linha. Sua habilidade e orientação tornam o desenvolvimento do Barzim uma verdadeira obra-prima.</p>

<p>Juntos, formamos uma equipe equilibrada, contribuindo com nossas habilidades únicas para levar o Barzim ao sucesso.</p>

  </div>
</BaseLayout>

<style>
  .about-image {
    float: right;
    margin: -3em -7em 2em 2em;
    max-width: 300px;
  }

  .about-image img {
    border-radius: 8px;
    margin-bottom: 1.5em;
  }

  @media (max-width: 1020px) {
    .about-image {
      float: none;
      margin: 0 auto 2em;
    }
  }
</style>
