---
import BaseLayout from '../layouts/BaseLayout.astro';

const title = 'Marca';
const description = 'O Barzim é.';
const permalink = `${Astro.site.href}equipe`;
---

<BaseLayout title={title} description={description} permalink={permalink} current="marca">
  <div class="container">
    <h1>Marca</h1>
  </div>
</BaseLayout>

<style>
  @media (max-width: 1020px) {
    .about-image {
      float: none;
      margin: 0 auto 2em;
    }
  }
</style>
